@import url('https://fonts.googleapis.com/css?family=Spectral');

* {
  font-family: 'Spectral';
}

h1 {
  font-size: 36pt;
  font-weight: bold;
}
}

h2 {
  font-size: 15pt;
  font-weight: bold;
}

p {
  font-size: 13pt;
}
