body {
  background-color: darkred;
}

.content {
  color: white;
  background-color: darkred;
}

.content a:active {
  color: darkred;
  transition: 0.1s;
} 

.content a:visited {
  color: darkred;
  transition: 0.1s;
}  

.content a:link {
  color: darkred;
  transition: 0.1s;
} 

.content a:hover {
  color: lightgrey;
  transition: 0.1s;
}