:root {
  --default-scrollbar-color: white;
  --header-color: black;
  --header-color-contrast: white;
  --content-color: black;
  --content-color-contrast: white;
  --content-color-text: white;
  --content-color-link-hover: lightgrey;
}

.content::-webkit-scrollbar-thumb {
	background: var(--scrollbar-color);
}