/* GENERAL */

* {
	font-family: 'Spectral';
}

html {
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	margin:0px;
}


#header {
	font-size:15pt;
	position: sticky;
	top:0;
	left:0;
	width:100vw;
	z-index: 10;
}

.header a:active {
	color: white;
	transition: 0.1s;
}

.header a:visited {
	color: white;
	transition: 0.1s;
}

.header a:link {
	color: white;
	transition: 0.1s;
} 

.header a:hover {
	color: lightgrey;
	transition: 0.1s;
}

.content {
	position: absolute;
	height: calc(100vh - 100px);
	max-width:100vw;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 20px;
	scrollbar-gutter: stable both-edges;
}


/* TEXT */

a:hover, a:visited, a:link, a:active
{
	text-decoration: none;
}

h1 {
	font-size: 36pt;
	font-weight: bold;
	line-height: 1.4;
	margin:0px;
	margin-bottom: 80px;
}

@media screen and (max-width: 550px) {h1 { font-size: 34pt;}}
@media screen and (max-width: 525px) {h1 { font-size: 32pt;}}
@media screen and (max-width: 500px) {h1 { font-size: 30pt;}}
@media screen and (max-width: 475px) {h1 { font-size: 28pt;}}
@media screen and (max-width: 425px) {h1 { font-size: 26pt;}}
@media screen and (max-width: 400px) {h1 { font-size: 24pt;}}
@media screen and (max-width: 375px) {h1 { font-size: 22pt;}}
@media screen and (max-width: 350px) {h1 { font-size: 20pt;}}

h2 {
	font-size: 15pt;
	font-weight: bold;
	line-height: 31px;
	margin:0px;
}

p {
	font-size: 13pt;
	line-height: 1.9;
	margin:0px;
}

small {
	font-size: 11pt;
	line-height: 1.75;
	margin:0px;
}


/* ELEMENTS */

.logo {
	border:solid;
	border-width: 2px;
	padding:0px 20px;
	background-color:white;
	color:black;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

hr {
	margin:0px;
	padding:0px;
	border-width:1px;
	background-color: lightgray;
}

.content::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}