/* GENERAL */

/* @font-face {
	font-family: "Spectraltest";
	src: url('https://fonts.googleapis.com/css?family=Spectral');
} */

@import url('https://fonts.googleapis.com/css?family=Spectral');

* {
	font-family: 'Spectral';
}

body {
	/* overflow-y: hidden; */
	overflow-x: hidden;
	min-height: 100%;
	margin:0px;
}

.body-wrapper {
	/* overflow-y: hidden; */
	overflow-x: hidden;
	min-height: 100%;
	margin:0px;
}

.content {
	min-height: 100%;
	margin-top: 100px;
	margin-bottom: 200px;
}

.content > * {
	padding: 20px;
}

.header {
	font-size:15pt;
	top: 0;
	position: sticky;
	z-index: 10;
}

.footer {
  	bottom: 0;
	z-index: 10;
}

.header, .footer > * {
	color: white;
	background-color: darkred;
}


/* TEXT */

a:hover, a:visited, a:link, a:active
{
	text-decoration: none;
}

h1 {
	font-size: 36pt;
	font-weight: bold;
}

h2 {
	font-size: 15pt;
	font-weight: bold;
}

p {
	font-size: 13pt;
}

small {
	font-size: 11pt;
}

.info  {
	font-size: 36pt;
	margin-bottom: 100px;
}