* {max-width: 100%;}

html {
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	margin:0px;
	background-color: var(--content-color);
}

*:lang(en):not(br) 	{
    display:none;
}

#content {
	color: var(--content-color-text);
	background-color: var(--content-color);
	height: calc(100vh - 100px);
	height: calc(var(--vh, 1vh) * 100 - 98px); /* chack also in index */
	overflow-y: auto;
	overflow-x: hidden;
	padding: 20px;
	scrollbar-gutter: stable both-edges;
}



#header {
	position: sticky;
	top:0;
	left:0;
	width:100vw;
	z-index: 10;
	height:56px;
}

#header > * {
	color: var(--header-color-text);
	background-color: var(--header-color);
}

.bottom-divider {
	display: var(--header-divider);
}




/* SELECTION */


#header>* ::selection {
	color: var(--header-color);
	background: var(--header-color-contrast);
}
#header>* ::-webkit-selection {
	color: var(--header-color);
	background: var(--header-color-contrast);
}
#header>* ::-moz-selection {
	color: var(--header-color);
	background: var(--header-color-contrast);
}

#content>* ::-moz-selection {
	color: var(--content-color-contrast-text);
	background: var(--content-color-contrast);
}
#content>* ::-webkit-selection {
	color: var(--content-color-contrast-text);
	background: var(--content-color-contrast);
}
#content>* ::selection {
	color: var(--content-color-contrast-text);
	background: var(--content-color-contrast);
}

#footer>* ::selection {
	color: var(--header-color);
	background: var(--header-color-contrast);
}
#footer>* ::-webkit-selection {
	color: var(--header-color);
	background: var(--header-color-contrast);
}
#footer>* ::-moz-selection {
	color: var(--header-color);
	background: var(--header-color-contrast);
}


/* LINK */

a:hover, a:visited, a:link, a:active
{
	text-decoration: none;
}


#header a:active {
	color: white;
	transition: 0.1s;
}
#header a:visited {
	color: white;
	transition: 0.1s;
}
#header a:link {
	color: white;
	transition: 0.1s;
}
#header a:hover {
	color: lightgrey;
	transition: 0.1s;
}


#content a:active {
	color: var(--content-color-text);
	transition: 0.1s;
}
#content a:visited {
	color: var(--content-color-text);
	transition: 0.1s;
}
#content a:link {
	color: var(--content-color-text);
	transition: 0.1s;
}
#content a:hover {
	color: var(--content-color-link-hover);
	transition: 0.1s;
}




/* TEXT */

h1 {
	white-space:nowrap;
	font-size: 36pt;
	font-weight: 700;
	line-height: 1.4;
	margin:0px;
}

@media screen and (max-width: 550px) {h1 { font-size: 34pt;}}
@media screen and (max-width: 525px) {h1 { font-size: 32pt;}}
@media screen and (max-width: 500px) {h1 { font-size: 30pt;}}
@media screen and (max-width: 475px) {h1 { font-size: 28pt;}}
@media screen and (max-width: 425px) {h1 { font-size: 26pt;}}
@media screen and (max-width: 400px) {h1 { font-size: 24pt;}}
@media screen and (max-width: 375px) {h1 { font-size: 22pt;}}
@media screen and (max-width: 350px) {h1 { font-size: 20pt;}}
@media screen and (max-width: 340px) {h1 { font-size: 19pt;}}
@media screen and (max-width: 330px) {h1 { font-size: 18pt;}}
@media screen and (max-width: 320px) {h1 { font-size: 17pt;}}
@media screen and (max-width: 310px) {h1 { font-size: 16pt;}}
@media screen and (max-width: 300px) {h1 { font-size: 15pt;}}



h2, h3 {
	font-size: 13pt;
	font-weight: 700;
	line-height: 1.4;
	font-family: "Spectral";
	margin:0;
	margin-bottom:28px;
}

@media screen and (max-width: 450px) {h2 { font-size: 12pt;}}
@media screen and (max-width: 400px) {h2 { font-size: 11pt;}}
@media screen and (max-width: 350px) {h2 { font-size: 10pt;}}
@media screen and (max-width: 300px) {h2 { font-size: 9pt;}}

@media screen and (max-width: 450px) {h3 { font-size: 12pt;}}
@media screen and (max-width: 400px) {h3 { font-size: 11pt;}}
@media screen and (max-width: 350px) {h3 { font-size: 10pt;}}
@media screen and (max-width: 300px) {h3 { font-size: 9pt;}}

p {
	font-size: 13pt;
	line-height: 1.9;
	margin:0px;
}


@media screen and (max-width: 450px) {p { font-size: 12pt;}}
@media screen and (max-width: 400px) {p { font-size: 11pt;}}
@media screen and (max-width: 350px) {p { font-size: 10pt;}}
@media screen and (max-width: 300px) {p { font-size: 9pt;}}

small {
	font-size: 11pt;
	line-height: 1.75;
	margin:0px;
}

@media screen and (max-width: 450px) {small { font-size: 10pt;}}
@media screen and (max-width: 350px) {small { font-size: 9pt;}}


/* SCROLLBAR */

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	z-index:10;
}

*::-webkit-scrollbar-thumb {
	background: var(--scrollbar-color);
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-color) transparent;
}

:root {
	--scrollbar-color: transparent;
}


/* ELEMENTS */

.logo {
	width:fit-content;
	border:solid;
	border-width: 2px;
	margin:13px 0px 13px 20px;
	padding:0px 20px;
	background-color:white;
	color:black;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.logo > a {
	color:black !important;
}

hr {
	margin:0px;
	padding:0px;
	border-width:1px;
	background-color: lightgray;
}

iframe {
	border: 0;
}

input {
	border-radius: 0;
	border-style:inset;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input:focus {
	outline-width: 0;
}

input:active {
	outline-width: 0;
}

button {
	appearance: none;
	border-radius: 0;
	border: 2px outset grey;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button:active {
	border-style:inset;	
}

button:disabled,
button[disabled]{
  cursor:not-allowed !important;
  border: outset rgba(128, 128, 128, 0.3);
  color: rgba(211, 211, 211, 0.5);
  color:rgba(128, 128, 128, 0.5)
}

/* FORM */

.abo {
	width:100%;
	overflow:hidden;
	display:flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
}

.abo>span {
	display:block;
	overflow:hidden;
	padding-right:48px;
}

.abo input {
	width:100%;
	background-color:white;
}

.abo button {
	float:right;
	background-color:lightgrey;
	cursor: pointer;
}

.abo input, .abo button {
	height: fit-content;
	font-size:15pt;
	padding: 5px 20px;
	color: black;
}

@media screen and (max-width: 450px) {
	.abo {
		flex-direction: column-reverse;
		gap:5px;
	}

	.abo button, .abo input  {
		font-size: 13pt;
		text-align:left;
		padding-left: 10px;
	}

	.abo span {
		padding-right:34px;
	}
}

@media screen and (max-width: 350px) {
	.abo button, .abo input  {
		font-size: 11pt;
	}
}

input::selection {
	color:initial !important;
	background: transparent !important;
}

input::-webkit-selection {
	color:initial !important;
	background: transparent !important;
}

input::-moz-selection {
	color:initial !important;
	background: transparent !important;
}

button::selection {
	color:initial !important;
	background: transparent !important;
}

button::-webkit-selection {
	color:initial !important;
	background: transparent !important;
}

button::-moz-selection {
	color:initial !important;
	background: transparent !important;
}



















































            /* RETURN TO TOP */

            #to-top, #to-bottom {
                cursor: pointer;
                font-size:13pt;
                position: fixed;
                right:20px;
                background-color: var(--header-color);
                color: var(--header-color-text);
                padding:0px;
                width: 45px;
                height: 45px;
                font-size: 35pt;
                -webkit-tap-highlight-color: transparent;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            /* #to-top {bottom:105px;}
            #to-bottom {bottom:55px;} */

            #to-top {bottom:110px;}
            #to-bottom {bottom:60px;}
            

            #to-top-label {
                position:relative;
                bottom:16px;
                left:2px;
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -o-transform: rotate(90deg);
            }


            /* FOOTER */

            #footer {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                color:white;
                position: absolute;
                height:fit-content;
                bottom:0;
                left:0;
                width:100%;
                z-index:8;
            }

            .footercontent {
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                color:white;
                gap:10px;
                padding: 10px 20px;
                white-space: nowrap;
            }

            .footerelement {
                text-align: center;
                font-size: 12pt;
                width:180px;
                height:fit-content;
                cursor: pointer;
            }

            .footerelement * {
                color: black !important;
            }

            .inlinefooter {
                display: none;
                margin-bottom: 100px;
                width:100%;
                padding: 0 !important;
                font-size: 9pt;
                width:120px;
            }

            /* REACTIVE */

            @media screen and (max-width: 1550px) {

                .footercontent {
                    background-color: #980000;
                    width:100%;
                    justify-content: center;
                    gap:10px 15px;
                    padding: 10px 30px;
                }

                #content {
                    height: calc(var(--vh, 1vh) * 100 - 125px); /* chack also in index */
                }

                /* .inlinefooter {
                    display: flex;
                    flex-wrap: wrap;
                } */
            }


            @media screen and (max-width: 1200px) {
                .footnote .note {
                    position: fixed;
                    bottom: 60px;
                    left: 20px;
                }
            }

            @media screen and (width < 800px), screen and (max-width: 800px) {

                #to-top, #to-bottom {
                    right:30px;
                }

                .footnote .note {
                    left:30px;
                }
            }


            @media screen and (max-width: 450px) {

                #footer .footercontent {
                    gap:5px 10px;
                    padding: 5px 0;
                }

                #footer .footercontent .footerelement {
                    font-size: 9pt;
                    width:120px;
                }

                #content {
                    height: calc(var(--vh, 1vh) * 100 - 111px); /* check also in index */
                }

                #to-top {bottom:95px;}
                #to-bottom {bottom:45px;}

                
                .footnote .note {
                    bottom:45px;
                }
            }


                /* .footnote:focus .note {
                    position: fixed;
                    bottom: 40px;
                    left: 20px;
                } */

            .footerelementwrap, .footerelement {
                color:black !important;
            }


            /* SHAREWINDOW */

            #sharewindow {
                display:none;
                position: fixed;
                left:50%;
                top:50%;
                transform: translate(-50%, -50%);
                max-width: 90vw;
                width: 400px;
                background-color: #980000;
                border: 2px outset grey;
            }

            #closesharewindow {
                font-size: 15pt;
                cursor: pointer;
                /* text-align: right; */
                /* width:100%; */
                padding:10px;
            }

            #shareoptions {
                display:flex;
                flex-wrap: wrap;
                gap:20px;
            }

            .shareoption {
                display:flex;
                flex-flow:column;
                align-items: center;
                width:100px;
                font-size: 13pt;
            }

            .shareimg {
                width:40px;
                height:40px;
            }

            .sharetxt {
                text-align: center;
            }

            #linkoptions {
                padding:10px;
                margin-bottom: 20px;
                line-height: 2;
            }

            #shareoptions {
                padding:10px;
                margin-bottom: 20px;
            }

            #link-kopieren {
                padding: 5px 20px;
                font-size: 15pt;
                margin-bottom:20px;
            }

            #link-kopierenwrap {
                display:flex;
                justify-content:center;
            }

			
			/* GENERAL */

			#header-wrap {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding:0px;
				margin:0px;
				font-size: 13pt;
			}

			#navigation {
				display: flex;
				gap: 30px;
				padding:15px 20px 15px 10px;
			}

			a:active, a:visited, a:link {
				color: white;
				transition: 0.1s;
			}

			a:hover {
				color: lightgrey;
				transition: 0.1s;
			}


			/* DROPMENU */

			.dropmenu {
				overflow:hidden;
				white-space: nowrap;
				position:absolute;
				right:0;
				top:0;
				width: 0vw;
				background-color: var(--header-color);
				z-index:11;
			}

			.dropanchor {
				position: relative;
				z-index:12;
			}

			.menu-spacer {
				text-align: right;
				visibility: hidden;
				font-size: 13pt;
				padding:15px 20px 15px 20px; /* reduced by 1 top and bottom for border */
				margin: 0px;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			#showissues:hover, #hideissues:hover {
				color: lightgray;
			}

			#showissues, #hideissues {
				cursor: pointer;
			}


			/* EXPANDED */

			#closemenu, #openmenu {
				cursor: pointer;
			}

			#closemenu {
				display: none;
				width:100vw;
			}

			.description {
				font-size: 11pt;
			}

			#hideissues {
				display: none;
			}

			#footer-wrap {
				font-size: 11pt;
				line-height: 1.7;
				margin-bottom:40px;
				text-align: left;
				white-space: normal;
			}

			.lang-option {
				cursor: pointer;
			}

			
			/* INFO */

			.info {
				padding: 25px 40px 25px 40px;
				line-height: 1.7;
				font-size: 13pt;
			}

			#infos, #infok {
				text-align: left;
			}

			#infoi {
				font-size: 13pt;
			}

			#infoe, #infom {
				max-width: 400px;
				margin-left: auto;
				margin-right: auto;
			}

			#infom {
				padding-bottom:40px;
			}

			#infoe {
				margin-top: 0px;
				padding-top: 0px;
			}

			.menu-inside {
				border: 2px outset grey;
			}

			#etc {
				cursor: default;
			}

			#openmenu {
				cursor: pointer;
			}


			/* TEXT ALIGN LAST */

			.spacedissues, .spacedtitles {
				width:100%;
				display:flex;
				justify-content: space-between;
				align-items: center;
			}
			

			/* FORM */

			#abo-selection{
				font-size: 11pt;
				line-height: 1.3 !important;
			}

			#email-form {
				flex-direction: column-reverse;
			}

			#email-checkbox {
				display:inline;
				position:relative;
				top: 3px;
				width: 15px;
				height:15px;
				margin:0;
				margin-top:20px;
			}

			#email-info {
				display:none;
				font-size: 9pt;
				line-height: 1.3 !important;
				text-align: justify;
				white-space: pre-wrap;
				order:-1;
			}

			#telegram-form {
				display: none;
			}

			#telegram-opt {
				font-size: 11pt;
				line-height: 1.3 !important;
				white-space: pre-wrap;
				order:-1;
			}

			#telegram-btn {
				width: 100%;
				text-align:center !important;
			}

			#telegram-btn * {
				padding: 0 !important;
			}


			/* REACTIVE */

			@media screen and (width >= 800px), screen and (min-width: 800px) {

				#openmenu {
					display: none;
				}

				#infoe {
					display: none;
				}

				#menuspacer {
					display:none;
					background-color: lightgray;
				}
			}

			@media screen and (width < 800px), screen and (max-width: 800px) {

				.hmenu, #etc {
					display: none;
				}

				.menu-inside {
					border-right: 0px none transparent;
					border-left: 0px none transparent;
					border-top: 2px solid lightgrey;
					border-bottom: 2px solid lightgrey;
				}
			}

			@media screen and (max-width: 400px) {
				.link-long {
					display:none;
				}
			}


			

            #databanner {
                display:none;
            }

            #datenschutz {
                background-color: var(--header-color);
                color: white;
                font-size: 13pt;
                position: absolute;
                left: 0;
                bottom: 0;
                width:100%;
                z-index: 20;
            }

            #datainfo {
                width: 600px;
                margin-bottom: 40px;
            }

            #dataoptionen {
                display:flex;
                flex-flow: row wrap;
                align-items: center;
                gap:20px;
            }

            .dataoption {
                width:140px;
                cursor: pointer;
                font-size: 13pt;
                background-color: transparent;
                color:white;
            }

            #datenschutz-inner {
                padding:20px;
            }

            @media screen and (max-width: 450px) {#dataoptionen { justify-content: space-around;}}


			

            /* SLIDES */

            #content {
                display: grid;
                grid-template-columns: 1fr auto 1fr;
                grid-template-rows: 1fr auto 1fr;
                grid-template-areas: 
                    ". . ."
                    ". slides ."
                    ". . .";
                place-items:center;
                height: calc(var(--vh, 1vh) * 100 - 245px);
            }



            #slides {
                grid-area: slides;
            }

            #slides > div {
                display: none;
                flex-wrap:wrap;
                place-content: center;
                text-align: center;
                gap:40px 80px;
                margin-bottom: 40px;
            }


            /* CONTROLS */

            #controls {
                position: absolute;
                bottom:0;
                display:flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width:100vw;
                padding-bottom: 60px;
            }

            #controlsWrap {
                display:flex;
                place-items: center;
                flex-direction: column;
            }

            #controls-inner {
                text-align: center;
                display: flex;
                flex-wrap:wrap;
                justify-content: center;
                align-items: center;
                gap:20px 70px;
                width:100%;
                bottom:0;
                left:0;
            }

            #letztes, #nächstes, #slideCurrent {
                background-color: transparent;
                color:white;
                width: 45px;
                height: 45px;
                -webkit-tap-highlight-color: transparent;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            #letztes, #nächstes {
                padding: 5px 15px 5px 15px;
                width:175px;
                font-size: 15pt;
                cursor: pointer;
            }

            #slideCurrent {
                width:80px;
                font-size: 20pt;
                cursor: default;
            }

            #slideIndex {
                max-height:70vh;
                overflow:auto;
                color:white;
                text-align: center;
                font-size: 20pt;
                display:none;
                width:fit-content;
                padding: 40px 20px 40px 20px;
                scrollbar-gutter: stable both-edges;
            }

            #slideIndex>span:hover {
                color:var(--content-color-link-hover);
                cursor: pointer;
            }

            /* SCROLLBAR */

            :root {
                --scrollbar-color-index: transparent;
                --default-scrollbar-color-index: white;
            }

            #slideIndex::-webkit-scrollbar-thumb {
                background: var(--scrollbar-color-index) !important;
            }

            #slideIndex {
                scrollbar-color: var(--scrollbar-color-index) transparent !important;
            }


            /* SIZING */

            @media screen and (max-width: 800px) {
                #controls-inner {
                    gap:20px;
                }
            }

            .controlLabelSmall {
                position:relative;
                bottom:17px;
                display: none;
            }

            @media screen and (max-width: 520px) {
                .controlLabelLarge {
                    display: none;
                }

                .controlLabelSmall {
                    display: inline;
                }

                #letztes, #nächstes {
                    padding:0px;
                    width: 45px;
                    font-size: 35pt;
                }
            }

            #slideCurrentTitle {
                font-size: 15pt;
                padding: 20px;
                color:white;
                text-align:center;
            }

            @media screen and (max-height: 800px) {

                #content {
                    height: calc(var(--vh, 1vh) * 100 - 215px);
                }

                #controls {
                    padding-bottom:30px;
                }
            }

            @media screen and (max-height: 550px) {

                #content {
                    height: calc(var(--vh, 1vh) * 100 - 195px);
                }

                #slideCurrentTitle {
                    padding-top:10px;
                    padding-bottom:10px;
                }
            }
