/* MAIN */

#content {
	height: calc(var(--vh, 1vh) * 100 - 77px);
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 0px;
}

#inhaltsverzeichnis, #coverwrap, .artikel, #ccinfo {
	padding:20px;
}


/* COVER */

#info-wrapper {
	display:flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	gap:250px 100px;
	margin-bottom: 350px;
	background-color: white;
	border: solid 2px black;
	margin-top:20px;
}

#coverwrap {
	display:flex;
	flex-direction: column;
}

#coverimage {
	display: block;
	width:100%;
	max-width:900px;
	height:auto;
}

#title {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap:50px;
	width: 100%;
	max-width:900px;
	margin-top: 60px;
	font-weight: 700;
	line-height: 2;
	font-size: 15pt;
}

@media screen and (max-width: 500px) {
	#title { 
		margin-top: 30px;
	}
}

@media screen and (max-width: 450px) {#title { font-size: 14pt;}}
@media screen and (max-width: 400px) {#title { font-size: 13pt;}}
@media screen and (max-width: 350px) {#title { font-size: 12pt;}}
@media screen and (max-width: 300px) {#title { font-size: 11pt;}}

.abstract, .abstracttitle {
	width: 100%;
	max-width: 500px;
}

.abstract-separator {
	height:65px;
}

.abstracttitle {
	display:flex;
	align-items: flex-start;
	justify-content: space-between;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	cursor: pointer;
}

.abstracttext {
	line-height: 1.5;
}

.artikelarrow {
	font-size:26pt;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 0.5;
	margin-bottom: 0;
}


/* INHALT */

#inhalt {
	text-align: justify;
	line-height: 2;
}

.artikelWrap {
	width: 100%;
	display:flex;
	gap:100px;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 120px;
}

.artikel {
	scroll-margin-top:50px;
	width:700px;
	background-color: white;
	border: solid 2px black;
}

.artikel-title {
	margin-bottom: 65px;
}

.copylink {
	font-weight: 700;
	font-size: 11pt;
	text-align: left;
	cursor: pointer;
	margin-top: 10px;
	line-height: 1.3;
	color:grey;
}



/* CC INFO */

#info-wrapper-bottom {
	display: flex;
	width: 100%;
	padding-top: 140px;
	padding-bottom: 120px;
}

#ccinfo {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap:30px;
	width:700px;
	background-color: white;
	border: solid 2px black;
}

/* #cctext {
	max-width: 60%;
} */

#ccicon {
	display: flex;
	flex-flow: row;
	gap:2px;
	align-items: flex-end;
}

#ccicon * {
	height: 48px;
}


/* REACTIVE */

@media screen and (max-width: 1750px) {
	#inhalt, .artikelWrap, #info-wrapper-bottom {
		justify-content: center;
	}

	#info-wrapper {
		background-color: #980000;
		border: unset;
		padding:0px;
		padding-top: 20px;
		display:flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	#inhaltsverzeichnis, #coverwrap {
		background-color: white;
		border: solid 2px black;
		padding:20px;
	}

	#title, #coverwrap {
		max-width: 700px;
	}
}

@media screen and (max-width: 800px) {
	#content {
		padding-left:12px;
		padding-right:12px;
	}
	
	#inhaltsverzeichnis, #coverwrap, .artikel, #ccinfo {
		padding:10px;
	}
}


/* GUTTER FIX */

@media screen and (max-width: 1000px) {
	#info-wrapper {
		flex-direction: row;
	}
}


/* FOOTNOTES */

.footnote {
	text-decoration: none;
	position: relative;
	cursor: pointer;
}

.footnote > .note {
	display: none;
	padding: 10px;
	background: #980000;

	position: absolute;
	bottom: 30px;
	left: 20px;
	border: 2px outset grey;
	width: 400px;
	max-width: calc(100vw - 135px);
	font-size: 11pt;
	line-height: 1.7;
}

.footnote * {
	color: white !important;
	font-size: 11pt;
}

.footnote a:hover {
	color: lightgrey !important;
	transition: 0.1;
}



.footnote:hover {
	color: #980000;
}

.footnote:focus {
	color: #980000;
}

.footnote .note {
	cursor: auto;
}

.footnote *::selection {
	color: #980000 !important;
	background: white !important;
}

.footnote *::-webkit-selection {
	color: #980000 !important;
	background: white !important;
}

.footnote *::-moz-selection {
	color: #980000 !important;
	background: white !important;
}