/* MAIN */

#content {
	height: calc(var(--vh, 1vh) * 100 - 102px);
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 0px;
}

@media screen and (max-width: 800px) {
	#content {
		padding-left:20px;
		padding-right:20px;
	}
}


/* COVER */

#info-wrapper {
	display:flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	gap:300px 100px;
	margin-bottom: 200px;
	padding-top: 20px;
}

#coverwrap {
	display:flex;
	flex-direction: column;
}

#coverimage {
	display: block;
	width:100%;
	max-width:900px;
	height:auto;
}

#title {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap:50px;
	width: 500px;
	margin-top: 100px;
	font-weight: 700;
	line-height: 2;
	font-size: 15pt;
}

.abstract {
	width: 500px;
}

.abstracttitle {
	width:500px;
	display:flex;
	align-items: center;
	justify-content: space-between;
}

.abstracttext {
	line-height: 1.5;
}

.artikelarrow {
	font-size:26pt;
	-webkit-tap-highlight-color: transparent;
}


/* INHALT */

#inhalt {
	text-align: justify;
	line-height: 2;
}

.artikelWrap {
	width: 100%;
	display:flex;
	gap:100px;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 120px;
}

.artikel {
	scroll-margin-top:50px;
	width:700px;
}

.copylink {
	font-weight: 700;
	font-size: 11pt;
	text-align: center;
	cursor: pointer;
	margin-top: 10px;
	line-height: 1.3;
	color:grey;
}


/* REACTIVE */

@media screen and (max-width: 1200px) {
	
	#coverwrap, #title, #inhaltsverzeichnis, #inhalt, .artikel, #mainoptions {
		margin-left: auto;
		margin-right: auto;
	}

	#inhalt {
		display:flex;
		flex-direction: column;
		justify-content: center;
	}
}


/* FOOTNOTES */

.footnote {
	text-decoration: none;
	position: relative;
	cursor: pointer;
}

.footnote > .note {
	display: none;
	padding: 10px;
	background: #980000;

	position: absolute;
	bottom: 30px;
	left: 20px;
	border-color:grey;
	border-style: outset;
	width: 400px;
	max-width: calc(100vw - 115px);
	font-size: 11pt;
	line-height: 1.7;
}

.footnote * {
	color: white !important;
	font-size: 11pt;
}

.footnote a:hover {
	color: lightgrey !important;
	transition: 0.1;
}



.footnote:hover {
	color: #980000;
}

.footnote:focus {
	color: #980000;
}

.footnote .note {
	cursor: auto;
}

.footnote *::selection {
	color: #980000 !important;
	background: white !important;
}

.footnote *::-webkit-selection {
	color: #980000 !important;
	background: white !important;
}

.footnote *::-moz-selection {
	color: #980000 !important;
	background: white !important;
}

@media screen and (max-width: 1200px) {
	.footnote .note {
		position: fixed;
		bottom: 40px;
		left: 20px;
	}

	/* .footnote:focus .note {
		position: fixed;
		bottom: 40px;
		left: 20px;
	} */
}


/* WIP */

#mainoptions {
	width:700px;
	margin-bottom: 70px;
}

#download-issue:hover {
	color:grey;
}