:root {
  --default-scrollbar-color: white;
  --header-color: #980000;
  --header-color-contrast: white;
  --content-color: #980000;
	--content-color-contrast: white;
  --content-color-text: white;
  --content-color-link-hover: lightgray;
}

.content::-webkit-scrollbar-thumb {
	background: var(--scrollbar-color);
}