:root {
  --theme:red;
  --default-scrollbar-color: white;
  --header-color: #890000;
  --header-color-contrast: white;
  --header-color-text: white;
  --content-color: #890000;
  --content-color-contrast-text: #890000;
  --content-color-contrast: white;
  --content-color-text: white;
  --content-color-link-hover: lightgray;
  --header-divider:none;
}