:root {
	--theme:white;
	--default-scrollbar-color: white;
	--header-color: #980000;
	--header-color-contrast: white;
	--header-color-text: white;
	--content-color: #980000;
	--content-color-contrast: #980000;
	--content-color-text: black;
	--content-color-link-hover: #980000;
	--header-divider:none;
}