body {
	background-color: white;
}

.content {
	color: black;
	background-color: white;
}

.content a:active {
	color: black;
	transition: 0.1s;
}

.content a:visited {
	color: black;
	transition: 0.1s;
}

.content a:link {
	color: black;
	transition: 0.1s;
}

.content a:hover {
	color: #980000;
	transition: 0.1s;
}

.bottom-divider {
	display: none;
}


:root {
	--default-scrollbar-color: #980000;
}

.content::-webkit-scrollbar-thumb {
	background: var(--scrollbar-color);;
}

::-moz-selection {
	color: white;
	background: #980000;
}

::selection {
	color: white;
	background: #980000;
}